<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2026 by Breece Walker
  See src/Notepads.Native/LICENSE for the original WinUIEdit license.

  Modifications Copyright (c) 2026, Jiaqi (0x7c13) Liu. All rights reserved.
  See LICENSE.txt in the project root for the Notepads modifications.
-->
<packages>
  <package id="Microsoft.Windows.CppWinRT" version="2.0.250303.1" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.28000.1839" targetFramework="native" />
</packages>
