<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
    xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
    xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
    xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
    IgnorableNamespaces="uap mp desktop4">
    <Identity Name="Notepads.Editor.Tests" Publisher="CN=40E66D07-5A3A-4954-9CA3-A1EB15ED0804" Version="1.0.0.0" />
    <mp:PhoneIdentity PhoneProductId="21681a31-174c-4e57-989c-6c54d7662de3" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
    <Properties><DisplayName>Notepads Editor Tests</DisplayName><PublisherDisplayName>Notepads</PublisherDisplayName><Logo>TestAssets\StoreLogo.png</Logo></Properties>
    <Dependencies><TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.22621.0" /></Dependencies>
    <Resources><Resource Language="en-US" /></Resources>
    <Applications><Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NotepadsEditorTests.App" desktop4:SupportsMultipleInstances="true">
        <uap:VisualElements DisplayName="Notepads Editor Tests" Description="Editor integration tests" BackgroundColor="transparent"
            Square150x150Logo="TestAssets\Square150x150Logo.png" Square44x44Logo="TestAssets\Square44x44Logo.png" />
    </Application></Applications>
</Package>
